<nav class="navbar navbar-expand-lg navbar-light" (scroll)="onscroll()" [ngClass]="navbarFixed?'fixed':'nofixed'">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" alt="" width="50" height="50">
    </a>
    <a class="navbar-brand" href="#">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#register">Đăng ký nhanh</a>
        </li>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Chức năng
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="/contract-add">Cầm đồ</a></li>
            <li><a class="dropdown-item" routerLink="/liquidation">Thanh lý</a></li>
            <li><a class="dropdown-item" routerLink="/return-item">Trả đồ</a></li>
            <li><a class="dropdown-item" routerLink="/customer-list">Quản lý khách hàng</a></li>
            <li><a class="dropdown-item" routerLink="/employee-information">Thông tin cá nhân</a></li>
            <li><a class="dropdown-item" routerLink="/new-list">tin tức</a></li>
            <li><a class="dropdown-item" routerLink="/finance">Tài chính</a></li>
            <li><a class="dropdown-item" routerLink="/complete-contract">Thống kê</a></li>
            <li><a class="dropdown-item" routerLink="/transaction-history">Lịch sử giao dịch</a></li>
            <li><a class="dropdown-item" routerLink="/employee-management">Quản lý nhân viên</a></li>
          </ul>
        </div>
      </ul>
      <a class="p-link" routerLink="/login">Đăng nhập</a>
      <div class="d-flex">
        <a class="bn632-hover bn19" href="#">Hotline: 0905.04.04.04</a>
      </div>
    </div>
  </div>
</nav>
