<!--NhanNBT-->
<!--<app-complete-contract></app-complete-contract>-->
<!--<app-expected-contract></app-expected-contract>-->
<!--<app-liquidation-contract></app-liquidation-contract>-->


<!--QuynhTX-->
<!--<app-employee-information></app-employee-information>-->
<!--<app-employee-update></app-employee-update>-->
<!--<app-news-add></app-news-add>-->


<!--TriDM-->
<!--<app-liquidation></app-liquidation>-->

<!--TriTT-->
<!--<app-news-list></app-news-list>-->


<!--NghiaNVT-->
<!--<app-customer-list></app-customer-list>-->


<!--TaiLA-->
<!--<app-return-item></app-return-item>-->


<!--HoanTV-->
<!--<app-employee-management></app-employee-management>-->


<!--TruongTQ-->
<app-header class="mb-5"></app-header>
<!--<app-home></app-home>-->
<div class="row p-0">
<!--  <div class="col-lg-2">-->
<!--    <ul class="list-unstyled ps-0 nav nav-pills flex-column mb-auto">-->
<!--      <li><a class="dropdown-item nav-item" routerLink="/contract-add" routerLinkActive="p-bg text-light">Cầm đồ</a></li>-->
<!--      <li><a class="dropdown-item nav-item" routerLink="/liquidation" routerLinkActive="p-bg text-light">Thanh lý</a></li>-->
<!--      <li><a class="dropdown-item nav-item" routerLink="/return-item" routerLinkActive="p-bg text-light">Trả đồ</a></li>-->
<!--      <li><a class="dropdown-item nav-item" routerLink="/customer-list" routerLinkActive="p-bg text-light">Quản lý khách hàng</a></li>-->
<!--      <li><a class="dropdown-item nav-item" routerLink="/employee-information" routerLinkActive="p-bg text-light">Thông tin cá nhân</a></li>-->
<!--      <li><a class="dropdown-item nav-item" routerLink="/new-list" routerLinkActive="p-bg text-light">tin tức</a></li>-->
<!--      <li><a class="dropdown-item nav-item" routerLink="/employee-management" routerLinkActive="p-bg text-light">Quản lý nhân viên</a></li>-->
<!--      <li class="mb-1">-->
<!--        <a class="dropdown-item nav-item" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">-->
<!--          Quản lý cửa hàng-->
<!--        </a>-->
<!--        <div class="collapse" id="dashboard-collapse">-->
<!--          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
<!--            <li><a class="dropdown-item nav-item" routerLink="/finance" routerLinkActive="p-bg text-light">Tài chính</a></li>-->
<!--            <li><a class="dropdown-item nav-item" routerLink="/complete-contract" routerLinkActive="p-bg text-light">Thống kê</a></li>-->
<!--            <li><a class="dropdown-item nav-item" routerLink="/top-ten-transaction" routerLinkActive="p-bg text-light">10 giao dịch gần nhất</a></li>-->
<!--            <li><a class="dropdown-item nav-item" routerLink="/transaction-history" routerLinkActive="p-bg text-light">Lịch sử giao dịch</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="col-lg-10 p-0">-->
    <router-outlet></router-outlet>
<!--  </div>-->
<!--</div>-->
<app-footer class="mt-5"></app-footer>


<!--LongTH-->
<!--<app-login></app-login>-->
<!--<app-forgot-password></app-forgot-password>-->
<!--<app-reset-password></app-reset-password>-->

<!--SonLH-->
<!--<app-transaction-history></app-transaction-history>-->

<!--Uyen-->
<!--<app-update-contract></app-update-contract>-->
<!--<app-top-ten-transaction></app-top-ten-transaction>-->


<!--DuyenNH-->
<!--<app-contract-add></app-contract-add>-->


<!--PhucNHD-->
<!--<app-customer-add></app-customer-add>-->
<!--<app-customer-update></app-customer-update>-->

<!--ThucNH-->
<!--<app-finance></app-finance>-->
<!--<app-pawn-item></app-pawn-item>-->




