<!--NhanNBT-->
<!--<app-complete-contract></app-complete-contract>-->
<!--<app-expected-contract></app-expected-contract>-->
<!--<app-liquidation-contract></app-liquidation-contract>-->


<!--QuynhTX-->
<!--<app-employee-information></app-employee-information>-->
<!--<app-employee-update></app-employee-update>-->
<!--<app-news-add></app-news-add>-->


<!--TriDM-->
<!--<app-liquidation></app-liquidation>-->

<!--TriTT-->
<!--<app-news-list></app-news-list>-->


<!--NghiaNVT-->
<!--<app-customer-list></app-customer-list>-->


<!--TaiLA-->
<!--<app-return-item></app-return-item>-->


<!--HoanTV-->
<!--<app-employee-management></app-employee-management>-->


<!--TruongTQ-->
<app-header></app-header>
<!--<app-home></app-home>-->
<router-outlet></router-outlet>
<app-footer></app-footer>


<!--LongTH-->
<!--<app-login></app-login>-->
<!--<app-forgot-password></app-forgot-password>-->
<!--<app-reset-password></app-reset-password>-->

<!--SonLH-->
<!--<app-transaction-history></app-transaction-history>-->

<!--Uyen-->
<!--<app-update-contract></app-update-contract>-->
<!--<app-top-ten-transaction></app-top-ten-transaction>-->


<!--DuyenNH-->
<!--<app-contract-add></app-contract-add>-->


<!--PhucNHD-->
<!--<app-customer-add></app-customer-add>-->
<!--<app-customer-update></app-customer-update>-->

<!--ThucNH-->
<!--<app-finance></app-finance>-->
<!--<app-pawn-item></app-pawn-item>-->




