<!--<div class="container">-->
<!--  <form style="position: relative" [formGroup]="searchForm" (ngSubmit)="searchPawnItem()">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-3"></div>-->
<!--      <div class="input-group-sm col-lg-3 ">-->
<!--        <label class="form-label">Loại đồ</label>-->
<!--        <select class="form-select" aria-label="Search" formControlName="pawnType">-->
<!--          <option *ngFor="let pawnType of pawnTypes" [ngValue]="pawnType.id">{{pawnType.name}}</option>-->
<!--        </select>-->
<!--      </div>-->

<!--      <div class="input-group-sm col-lg-3 ">-->
<!--        <label class="form-label font-weight-bold">Tên đồ cầm</label>-->
<!--        <input id="nameSearch" type="text" name="nameSearch" placeholder="VD: iphone XS"-->
<!--               class="form-control bg-white border-left-0 border-md" formControlName="name">-->
<!--      </div>-->
<!--      <div class="col-lg-3"></div>-->
<!--      <div class="form-group-lg col-lg-2 mx-auto mb-4 mt-3 justify-content-center d-flex">-->
<!--        <button type="submit" data-bs-dismiss="modal"-->
<!--                class="p-btn btn-block ps-lg-3 pe-lg-3 page-link">-->
<!--          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"-->
<!--               class="bi bi-search" viewBox="0 0 16 16">-->
<!--            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>-->
<!--          </svg>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

<div class="container ">
  <div class="row">
    <table class="table table-striped text-center w-75 container">
      <thead>
      <tr class="p-bg">
        <th>STT</th>
        <th>Tên đồ</th>
        <th>Loại đồ</th>
        <th>Trạng thái</th>
        <th>Ngày đến hạn</th>
        <th>Giá mua (VNĐ)</th>
        <th colspan="2">Chức năng</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pawnItem of pawnItems ; index as i">
        <td>{{i + 1}}</td>
        <td>{{pawnItem.namePawnItem}}</td>
        <td>{{pawnItem.namePawnType}}</td>
        <td>{{pawnItem.status}}</td>
        <td>{{pawnItem.endDate}}</td>
        <td>{{pawnItem.itemPrice}}</td>
        <td>
          <button style="border: none" data-bs-toggle="modal" (click)="getDetailModal(pawnItem)" data-bs-target="#deTailModal">
            <i class="fa-solid fa-circle-info"></i>
          </button>
<!--          <button (click)="getDetailModal(pawnItem)">Test</button>-->
        </td>
        <td>
          <button style="border: none">
            <i class="fa-solid fa-sack-dollar"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="container d-flex justify-content-center align-items-center mt-5">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" *ngIf="page">
            <a class="page-link text-warning" href="#" (click)="previous()">Trang trước
            </a>
          </li>
          <ng-container *ngFor="let pageNow of pageSelect">
            <ng-container *ngIf="pageNow == page">
              <li class="page-item"><a class="page-link p-btn">{{pageNow + 1}}</a></li>
            </ng-container>
            <ng-container *ngIf="pageNow != page">
              <li class="page-item"><a class="page-link" (click)="changePage(pageNow)">{{pageNow + 1}}</a></li>
            </ng-container>
          </ng-container>
          <li class="page-item" *ngIf="page != totalPage - 1"><a class="page-link text-warning" href="#" (click)="next()">Trang sau</a></li>
        </ul>
      </nav>
    </div>

<!--    Modal Detail-->
    <div class="modal fade" id="deTailModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content ">
          <div class="modal-header   p-bg">

            <div class="col-1"></div>
            <div class="col-10">
              <h4 class="modal-title p-center-box" id="exampleModalLabel">Chi tiết hợp đồng món
                đồ</h4>
            </div>
            <div class="col-1"></div>


          </div>
          <div class="modal-body">
            <div class="row mt-2">
              <div class="col-md-4">
                <p style="font-weight: bold">Tên khách hàng</p>
                <p style="font-weight: bold">Tên đồ</p>
                <p style="font-weight: bold">Loại đồ</p>
                <p style="font-weight: bold">Tiền cho vay</p>
                <p style="font-weight: bold">Ngày cho vay</p>
                <p style="font-weight: bold">Ngày hết hạn</p>
              </div>
              <div class="col-md-1">
                <p>:</p>
                <p>:</p>
                <p>:</p>
                <p>:</p>
                <p>:</p>
                <p>:</p>
              </div>
              <div class="col-md-7">
                <p>{{pawnItemDetail.nameCustomer}}</p>
                <p>{{pawnItemDetail.namePawnItem}}</p>
                <p>{{pawnItemDetail.namePawnType}}</p>
                <p>{{pawnItemDetail.itemPrice}}</p>
                <p>{{pawnItemDetail.startDate}}</p>
                <p>{{pawnItemDetail.endDate}}</p>
                <p></p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>
<!--    End Modal Detail-->
  </div>
</div>
